
html body {
    overflow: hidden;
}

#overlay-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
    z-index: 1000;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.no-spacing {
    padding: 0!important;
    margin: 0!important;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }