
$font-stack: "";

$spacing-increment: 0.5rem;

@function space($num) {
    @return $spacing-increment * $num;
};

$themes: (
    light: (
        bg: (
            site-background-dark: rgb(234, 241, 241),
            site-background-medium: rgb(241, 245, 245),
            site-background-light: rgb(250, 250, 250),
            card-background: rgb(255, 255, 255),

            select: rgb(0, 0, 0),
            width-control: rgb(116, 122, 122),
            button: rgb(116, 122, 122),
            button-hover: rgb(0, 0, 0),
            button-select: rgb(0, 0, 0),
            button-inactive: rgb(0, 0, 0)
        ),
        col: (
            text-important: rgb(0, 0, 0),
            text-normal: rgb(0, 0, 0),
            text-warning: rgb(0, 0, 0),
            text-error: rgb(0, 0, 0),
            text-light: rgb(0, 0, 0),
            text-highlight: rgb(0, 0, 0),
        ),
        other: (
            profile: rgb(0, 0, 0),
            shadow: rgb(0, 0, 0),
            highlight: rgb(0, 0, 0),
        )
    ),

    dark: (
        bg: (
            site-background-dark: rgb(234, 241, 241),
            site-background-medium: rgb(237, 245, 245),
            site-background-light: rgb(253, 255, 255),
            card-background: rgb(0, 0, 0),
            select: rgb(0, 0, 0),
            button: rgb(0, 0, 0),
            button-hover: rgb(0, 0, 0),
            button-select: rgb(0, 0, 0),
            button-inactive: rgb(0, 0, 0)
        ),
        col: (
            text-important: rgb(0, 0, 0),
            text-normal: rgb(0, 0, 0),
            text-warning: rgb(0, 0, 0),
            text-error: rgb(0, 0, 0),
            text-light: rgb(0, 0, 0),
            text-highlight: rgb(0, 0, 0),
        ),
        other: (
            profile: rgb(0, 0, 0),
            shadow: rgb(0, 0, 0),
            highlight: rgb(0, 0, 0),
        )
    )
);
// $theme .theme-#{$theme}
//@each $theme, $theme_map in $themes {
    @each $section, $section_map in map-get($themes, 'light' ) {
        @each $name, $color in map-get(map-get($themes, 'light'), $section) {
             .color-#{$name} {
                @if #{$section} == 'bg' {
                    background-color: #{$color};
                } @else if #{$section} == 'text' {
                    color: #{$color};
                } @else if #{$section} == 'other' {
                    background-color: #{$color};
                }
            }
        }
    }
//}
