
.qdquarry {
    &__homepage {
        &-wrapper {
            min-height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
        }
    
        &-title-bar {
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
    
        &-account-buttons {
            display: flex;
            flex-direction: row;
        }
    }
}
