
@import '../util/variables';

.qdquarry {
    &__login {

        &-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-main-card {
            width: 50%;
            max-width: 40rem;
            min-width: 20rem
        }

        &-field {
            margin-bottom: space(1);
        }

        &-submit-button {
            width: 100%;
        }

        &-error-callout {
            margin-bottom: space(1);
        }
    }
}
