@import '../util/variables';

.qdquarry {
    &__action-bar {
        
        & {
            display: flex;
            flex-direction: row;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        &-button-row {
            
        }

        &-slideout {}

    }
}

