
.qdquarry {
    &__content-scaffold {
        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            padding: 0;
            margin: 0;
        }

        &-title-bar {
            flex-direction: row;
            height: 4rem;
        }

        &-action-bar {
            flex-direction: row;
            flex-wrap: nowrap;
            height: 6rem;
        }

        &-main-content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: calc(100vh - 10rem);
        }

        &-list-view {

        }

        &-main-panel {
        
        }
    }
}
