@import '../util/variables';

// Override vanilla Blueprint.js secondary label size

.bp3-tree-node-secondary-label {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    // From caret size in folder
    padding-left: 30px;
    pointer-events: none;
}

.bp3-tree-node {
    position: relative;
}

.qdquarry {
    &__list-view {
        & {    
            width: 100%;
            height: 100%;
            padding: 0;
        }

        &-node-wrapper {
            width: 100%;
            // From row height in Blueprint tree row
            height: 30px;
            display: flex;
            flex-direction: row;
            position: relative;
            pointer-events: initial;
        }

        &-rename-input {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            
            & > input {
                float: right;
            }
        }

        &-actions-wrapper {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            justify-content: right;
            opacity: 0;
            pointer-events: all;

            &:hover {
                opacity: 1;
            }
        }

        &-button:focus {
            outline: none;
        }

        &-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        &-pane {
            padding: 0;
            margin: 0;
        }

        &-pane-title {
            padding: space(1);
            margin: 0;
            width: 100%;
        }

        &-width-control {
            padding: 0 space(0.1);
            display: flex;
            background-color: black;

            &-icon {
                align-self: center;
                margin: auto 0;
                color: black;
            }
        }
    }
}
