
.qdquarry {
    &__loading-overlay {
        z-index: 100;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: top 0s linear 0.6s, opacity 0.5s ease-out 0.1s;

        &--hidden {
            opacity: 0;
            top: -100vh;
        }

        &--visible {
            opacity: 1;
            top: 0;
        }
    }
}
