
.qdquarry {
    &__main-panel {

        & {
            width: 100%;
            height: 100%;
        }

        &-placeholder {
            &-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-card {
                display: flex;
                flex-direction: column;
                width: 30rem;
                height: 10rem;
            }

            &-text {
                margin: 0 auto;
            }

            &-arrow {
                box-shadow: 0 0 5px -2px black;
                border-radius: 50%;
                margin: auto auto;
                padding: space(1);
            }
        }
    }
}
