@import '../util/variables';

.qdquarry {
    &__title-bar {

        & {
            display: flex;
            flex-direction: row;
            padding: space(1);
            height: 100%;
            width: 100%;
        }

        &-title {
            margin: auto 0;
        }
    }
}