
.qdquarry {
    &__code-viewer {
        &-wrapper {
            width: 100%;
            height: 100%;
        }

        &-viewport {
            padding: space(4);
            overflow: auto;
        }

        &-viewport-inner {
            margin-bottom: space(4);
            width: 100%;
            height: auto;
        }

        &-card {


            &-title {
                
            }

            &-contents {

            }
        }
    }
}
