
.qdquarry {
    &__cursor-tracker-wrapper {
        width: 100rem;
        height: 100rem;
        pointer-events: none;
    }

    &__cursor-tracker {
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
    }
}
