
@import '../../util/variables';

.qdquarry {
    &__file-viewer-header {
        &-card {
            height: 3rem;
            padding: 0.5rem;
        }

        &-row {
            height: 2rem;
            display: flex;
            flex-direction: row;
        }

        &-item {
            height: 2rem;
        }

        &-title {
            margin: auto space(3);
        }

        &-icon {
            margin: auto 0;
        }

        &-close-button {
            margin-left: auto;
        }
    }
}
