
@import "../../util/variables";

.qdquarry {
    &__file-code-tool {
        &-wrapper {
            width: 100%;
            height: 100%;
        }

        &-file-viewer {
            position: static;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        &-segment-modal {
            max-width: 40rem;
            min-width: 20rem;
            width: 50%;
            pointer-events: initial;

        
            &-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }

            &-quote {
                margin-bottom: space(2)
            }

            &-submit {
                margin-top: space(2);
                display: flex;
                flex-direction: row;
                justify-content: right;
            }
        }
    }
}
