
@import '../../util/variables';

.qdquarry {
    &__txt-viewer {
        &-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - 3rem);
            padding: space(1);
        }

        &-viewport {
            padding: space(4);
            overflow: auto;
        }

        &-viewport-inner {
            margin-bottom: space(4);
            width: 100%;
            height: auto;
        }

        &-paragraph {
            margin-bottom: space(0.25);
            white-space: pre-wrap;
            width: 100%;
            min-width: 25rem;
        }

        &-error-callout {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
